<div class="container">
	<div class="row">
		<h2>"Vertical List bbc news panel"</h2>

		<dl class="dl-unsur">

			<dd>
				<a href="/turkce/haberler-turkiye-38878761" class="pull-left">
					<h2 class="pull-right">1</h2>
					<a class="pull-left" href="ligneA.html">Ligne A.</a>
				</a>
				<p class="small pull-left" ><span class="glyphicon glyphicon-time"></span> Appuyer ici pour plus d'info</p>
			</dd>
			<dd>
				<a href="/turkce/haberler-turkiye-38878761" class="pull-left">
					<h2 class="pull-right">2</h2>
					<a class="pull-left" href="ligneB.html">Ligne B.</a>
				</a>
				<p class="small pull-left" ><span class="glyphicon glyphicon-time"></span> Appuyer ici pour plus f'info</p>
			</dd>
			<dd>
				<a href="/turkce/haberler-turkiye-38878761" class="pull-left">
					<h2 class="pull-right">3</h2>
					<a class="pull-left" href="ligneC.html">Ligne C.</a>
				</a>
				<p class="small pull-left" ><span class="glyphicon glyphicon-time"></span> Appuyer ici pour plus d'info</p>
			</dd>
			<dd>
				<a href="/turkce/haberler-turkiye-38878761" class="pull-left">
					<h2 class="pull-right">4</h2>
					<a class="pull-left" href="ligneD.html">Ligne D.</a>
				</a>
				<p class="small pull-left" ><span class="glyphicon glyphicon-time"></span> Appuyer ici pour plus d'info</p>
			</dd>

		</dl>
