<div class="container">

	<div class="wrapper fadeInDown">
		<div class="col-md-6">
			<div class="card">
				<header class="card-header">
					<h4 class="card-title mt-2">Simuler votre itineraire</h4>
				</header>

				<article class="card-body">
					<form>
						<div class="form-group">
							<label for="formGroupExampleInput">Saisisser votre gare de départ :</label>
							<input type="text" class="form-control" id="formGroupExampleInput" placeholder="ex: lieu, station, address">
						</div> <!-- form-group end.// -->

						<div class="form-group">
							<label for="formGroupExampleInput2">Saisisser votre gare d'arriver :</label>
							<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="ex: lieu, station, address">
						</div> <!-- form-group end.// -->

						<div class="form-group">
							<label class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="choice" value="option3">
								<span class="form-check-label">Trajet le plus court</span>
							</label>

							<label class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="choice" value="option4">
								<span class="form-check-label">Trajet le plus rapide</span>
							</label>
						</div> <!-- form-group end.// -->

						<div class="form-row">
							<div class="form-group col-md-6">
								<label>Jour de départ</label>
								<input type="date" class="form-control">
							</div> <!-- form-group end.// -->

							<div class="form-group col-md-6">
								<label>Heure de départ</label>
								<input type="time" class="form-control">
							</div> <!-- form-group end.// -->
						</div> <!-- form-row.// -->

						<div class="form-group">
							<button type="submit" class="btn btn-info btn-block"> C'est partie ! </button>
						</div> <!-- form-group// -->
					</form>
				</article> <!-- card-body end .// -->

				<div class="border-top card-body text-center">...<a href=""></a></div>
			</div> <!-- card.// -->
		</div> <!-- col.//-->
	</div> <!-- row.//-->
	<div> <!-- wrapper.//-->
	</div> <!--container end.//-->
